body{

font-family:Arial;
margin:0;
background:#f4f6ff;

}

header{

background:#6c63ff;
color:white;
padding:20px;
text-align:center;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

.hero{

text-align:center;
padding:80px;

}

.btn{

background:#6c63ff;
color:white;
padding:12px 20px;
border-radius:5px;
text-decoration:none;

}

.container{

width:90%;
max-width:500px;
margin:auto;
margin-top:40px;

}

input,select,textarea{

width:100%;
padding:10px;
margin:10px 0;

}

button{

background:#6c63ff;
color:white;
padding:10px;
border:none;
border-radius:5px;

}

.result-box{

text-align:center;
margin-top:50px;

}

table{

width:80%;
margin:auto;
border-collapse:collapse;

}

td,th{

border:1px solid #ddd;
padding:10px;

}

.chat-container{

width:300px;
margin:auto;

}

#chatbox{

height:200px;
border:1px solid #ccc;
overflow:auto;
margin-bottom:10px;

}

/* Mobile Responsive */

@media(max-width:600px){

.hero{
padding:40px;
}

nav{
display:flex;
flex-direction:column;
}

}